<%- include("partials/header") %>

<div class="card">
    <h1>About BMI</h1>
    <br><br>
    <p>
        Body Mass Index (BMI) is a simple calculation used to assess whether a person has a healthy body weight for their height.
    </p>
    <br>
     <p>Underweight: BMI &lt; 18.5</p>
     <p>Normal: 18.5 – 24.9</p>
     <p>Overweight: 25 – 29.9</p>
     <p>Obese: 30 and above</p>
  

</div>

<%- include("partials/footer") %>
