*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
   
}

header {
    background: #222;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.card {
    background: #fff;
    padding: 25px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    border: 2px magenta solid;
    
}

.card input,
.card textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.success {
    color: green;
    margin-top: 15px;
}

.error {
    color: red;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
